@model List<Assignment4a.Models.Course>

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<Title>First MVC Demo</Title>
<body>
    <a href="/Student/AddStudent/">Add</a>
    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <th scope="Id">Id</th>
                <th scope="Course_Name">Course_Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Course_Name</td>
                    <td><a href="/Course/EditCourse/@item.Id">Edit</a></td>
                    <td><a href="/Course/DeleteCourse/@item.Id">Delete</a></td>

                </tr>
            }
        </tbody>
    </table>
        <a href="/Student/DisplayAllStudents/">Go To Back</a>
</body>
